[site]
HOST_URL=http://base.local
baseUri=/
DEBUG=1
BANNER_ROTATOR_URL=http://banners-rotator.local
TRAFFIC_MANAGER_URL=http://traffic-manager.local

[db]
adapter=Postgresql
host=adserver-postgres
username=revive-adserver
password=revive-adserver
dbname=revive-adserver_test
charset=utf8

[db_system]
adapter=Postgresql
host=adserver-postgres
username=revive-adserver
password=revive-adserver
dbname=revive-adserver_system
charset=utf8

[email]
host=adserver-mail
port=25
username=
password=
name=Adserver Mailer
from=nobody@adserver.local
hostname=mail.adserver.local

[logger]
debug=debug.test.log
info=info.test.log
warning=warning.test.log